<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
</head>
<body>
   <% 
        if(kindOfDay== "Sunday" || kindOfDay== "Saturday")
        {
            %>

                <h1 style="color: aqua;"> <%= kindOfDay %> To Do List</h1>
            
            <% 
        } 
        else 
        {  
            %>
        
                <h1 style="color: brown;"><%= kindOfDay %> To Do List!</h1>

            <% //'Scriptlet' tag, for control-flow, no output
        }
    %> 
     
    
</body>
</html>